<section class="block container">
  <heading class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore aut
      cumque, cupiditate voluptatibus, corporis sequi minus porro libero
      consequatur accusamus fugiat eligendi aliquam, ratione et error dolor!
      Ratione, aliquam.
    </p>
  </heading>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        provident, perspiciatis sed omnis fugit porro adipisci asperiores
        exercitationem corporis doloribus similique nesciunt magni itaque harum
        sit ea nemo sapiente laudantium.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore aut
      cumque, cupiditate voluptatibus, corporis sequi minus porro libero
      consequatur accusamus fugiat eligendi aliquam, ratione et error dolor!
      Ratione, aliquam.
    </p>
  </div>
</section>
