<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Title 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat sequi
    saepe perferendis ipsum facere voluptatibus iure libero laudantium incidunt
    expedita soluta, cumque delectus quam. Unde vel tempora dolore enim?
  </div>
</div>
