body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 75vw;
    height: 30vh;
    padding: 5vmin;
    margin: 5vmin;
    background: lightgreen;
}

.image:nth-of-type(odd){
    background: dodgerblue;
}

@media screen and (min-width: 768px) {
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .image {
        width: 30vw;
        height: 25vh;
        padding: 5vmin;
        margin: 5vmin;
    }

 }